<?xml version="1.0"?>
<launch>
    <!--<include file="$(find sim2real)/launch/base.launch"/>-->

    <!-- make odometry -->
    <node pkg="sim2real" name="gazebo_odometry_node" type="gazebo_odometry.py" output="screen"/>

    <!-- set default arguments -->
    <include file="$(find sim2real)/launch/mapping_default.launch"/>

    <!-- start rviz to visualize mapping process -->
    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

</launch>

